
.popup-parent{
    position: fixed;
    background: rgba(0, 0, 0, 0.479);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 20;
    display: none;
}
.popup-parent.active{
    display: block;
}

.notepad-content{
    display: none;
}
.popup-parent.activeNotepad .notepad-content{
    display: block;
}


.popup-modal{
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 15px;
    width: 600px;
    height: 80%;
    border-radius: 10px;
    overflow-y: auto;
}

.reactHookForm form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 10px;
}
.hookForm input, .hookForm textarea{
    width: 100%;
    margin: 0;
    border: 2px solid rgb(180, 179, 179);
    border-radius: 5px;
    margin-top: 10px;
    outline: none;
    transition: all 0.2s ease-in-out;
}
.hookForm input:focus, .hookForm textarea:focus{
    border: 2px solid #007ACC !important;
}
.note-title input{
    height: 50px;
    padding: 5px 15px;
    font-size: 20px;
    font-weight: 600;
}
.note-details textarea{
    padding: 5px 15px;
    font-size: 20px;
    font-weight: 600;
}

.hookForm p{
    text-align: left !important;
    font-weight: 600;
    margin-bottom: 0;
    font-size: 22px;
}

/* styling note submitt button */
.note-submit-button{
    height: 50px;
    background: #007ACC;
    color: white;
    font-weight: 600;
    font-size: 20px;
    border: none !important;
    outline: none !important;
}



/* popup close button */
.popup-close-button{
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}

.error-text{
    color: red;
    font-weight: 500 !important;
    font-size: 16px !important;
}