

.header-one-div{
    background: white;
    /* padding: 15px 0px; */
    box-shadow: 0 1px 5px rgba(0,0,0,0.2);
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.profile-section{
    margin-right: 20px;
    border: 3px solid #4A80AA;
    border-radius: 50%;
    padding: 3px;
    cursor: pointer;
    position: relative;
}
.profile-section img{
    width: 45px;
}


/* Profile submenu */
.profile-submenu{
    position: absolute;
    top: 40px;
    right: 55px;
    background: white;
    width: 250px;
    padding: 10px;
    border-radius: 5px 0px 5px 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    scale: 0;
    transition: all 0.2s ease-in-out;
    transform-origin: top right;
}
.profile-submenu.active{
    scale: 1;
}